.cartContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cartTitle {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 95vw;
  background-color: var(--color-primary);
  border-radius: 0.2rem 0.2rem 0 0;
  height: 3.5rem;
}

.cartTitle>h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
  padding: 0.8rem;
}