.cartContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cartTitle {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 0.2rem 0.2rem 0 0;
  height: 3.5rem;
}

.cartTitle>h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
  padding: 0.8rem;
}


@media (min-width: 768px) {
  .cartContent {
    width: 20rem;
    justify-content: flex-start;
  }

  .cartTitle {
    width: 100%;
  }
}