.contentCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 45vh;
}

.productImage {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--gray-0);
  box-shadow: var(--gray-0) 1px 2px 4px 0px;
  margin-bottom: 1rem;
}

.productImage>img {
  width: 10rem;
  height: 11rem;
  object-fit: contain;
}

.productImage>img:hover {
  cursor: pointer;
  object-fit: cover;

}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
  /* background-color: var(--gray-0); */
  gap: 0.8rem;
  margin-left: 0.3rem;

}

.productInfo>h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray-100);
  text-align: left;
}

.productInfo>p {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-primary);
  text-align: left;
}

.productInfo>span {
  font-size: 0.5rem;
  font-weight: 400;
  color: var(--gray-50);
  text-align: left;
}

.productBtn {
  display: flex;
  justify-content: flex-start;
}

.btnItem {
  border-radius: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  align-items: center;
  width: 30%;
  height: 2rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.itemList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.swiper {
  width: 100%;
  height: 45vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* only screen 1200 */

@media (min-width: 1200px) {

  .swiper,
  .swiper-initialized,
  .swiper-horizontalm .swiper-pointer-events,
  .swiper-backface-hidden,
  .swiper-wrapper,
  .swiper-slide .swiper-slide-active {
    max-width: 1200;
    margin: 0;
    padding: 0;

  }

  .productCard {
    width: 90vw;
    height: 45vh;
  }

}