  .teste {
    display: none;


  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }

  @media (min-width: 768px) {


    .mobileView {
      display: none;
    }

    .desktopView {
      display: flex;
      margin-top: 1rem;
      gap: 2rem;
      max-width: 1243px;
      flex-wrap: wrap;

    }

    .mainContainer {
      display: grid;
      grid-template-columns: 3fr 2fr;
      margin: 0 115px;
    }

    .cartDesktop {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

    }
  }